div {
    /*Vh stands for viewport height meaning it will be relevant to the height of the browser window. */
    height: 100vh;
    background-image: url(resources/img/PR_Christmas_Lookbook_15.jpg);
    /*Our background image covers full width and height of section withour skewing or repeating the image. */
   	background-size: auto 100vh;
/*    -webkit-background-size: auto 100vh;*/
/*    -moz-background-size: auto 100vh;*/
/*    -o-background-size: auto 100vh;*/
/*     We  fix the background to the browser viewport rather than to the section, creating a reveal effect as we scroll.*/
	background-attachment: fixed;
    background-repeat: no-repeat;
/*    background-attachment:scroll;*/
    background-position: center top;
}

/*
Before we had:
   	background-size: cover;
   	background-size: auto 100vh;
*/